body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgb(253, 143, 103), rgb(212,99,163));
    min-height: 110vh; 
}
img {
  border-radius: 60%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(250, 40, 113);
}
section {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.inner-link {
    background-color: transparent;
    padding: 20px;
    transition: 0.1s ease-in;
    border: 2px solid white;
	font-weight: bold;
    font-size: 18px;
}
.inner-link:hover {
    background-color: white;
}
.mytitle {
    color: white;
    font-size: 17px;
}
.mytitle a:hover {
    color: black;
}
.linkssection {
    margin-top: 30px;
}
.subsection {
    margin: 15px 0px;
}
@media screen and (max-width: 720px) {
    section {
        width: 100%;
    }
}